@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: sans-serif;
    background-color: blue;
   
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 40rem;
    background-color: white;
}

h2 {
    -webkit-flow-into: 4rem;
    background-color: tomato;
    text-align: center;
    padding: 1rem;
}

form,
form > * {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
    border-bottom: 2px solid grey;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    font-size: 1.6rem;
    padding: 7px;
    width: 20rem;
    text-align: right;
}

.btn {
    margin: 5px 0;
    background-color: purple;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: red;
    
}

.error {
    color: red;
    display: none;
}

.result {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.result > * {
    background-color: grey;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.total {
    color: red;
}